.App {
  text-align: center;
  /* background-color: #ffffff; */
  background-color: #090415;
  border: 2px solid #ffffff;
  margin: 30px;
}

h3, h4, h5, h6, p {
  color: #ffffff;
  /* font-family: 'Consolas', 'Courier New', monospace */
}

.screen {
  color: #00ff00;
  font-family: 'Consolas', 'Courier New', monospace;
}

table, tr, td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: #00ff00;
  margin: 16px auto;
}