/* || GENERAL STYLES */
h3, h6, p, span {
  color: #ffffff;
}

/* || SITEWIDE */
main {
  text-align: center;
  background-color: #090415;
  border: 5px solid #193154;
  margin: 35px;
}

@media screen and (max-width: 650px) {
  main {
    margin: 20px;
  }
}

footer {
  display:flex;
  flex-direction:column;
  flex-grow:2;
  justify-content:flex-end;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

.site-heading {
  color: #ffc107;
  font-family: 'Silkscreen';
  text-shadow: 2px 2px #b71c1c;
}

.screen {
  color: #00ff00;
  font-family: 'Consolas', 'Courier New', monospace;
}

/* || PROTOCOL COMPONENT */
.page {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

/* || CIPHER COMPONENT */
table, tr, td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: #00ff00;
  margin: 16px auto;
}

th {
  padding: 5px;
}

td {
  padding: 5px 2px 5px 2px;
}

/* || ACCESSIBILITY */
.MuiButtonBase-root.Mui-focusVisible, .MuiButton-root.Mui-focusVisible {
  outline: 1px solid white;
  border: 2px solid #0060df;
}

.MuiButtonBase-root.Mui-focused, .MuiButton-root.Mui-focused {
  box-shadow: 0px 0px 5px white;
}

:focus-visible {
  outline: 1px solid white;
  border: 2px solid #0060df;
}