.App {
  text-align: center;
  /* background-color: #ffffff; */
  background-color: #090415;
  border: 2px solid #ffffff;
  margin: 30px;
}

h3, p, span {
  color: #ffffff;
  /* font-family: 'Consolas', 'Courier New', monospace */
}

h4, h5 {
  color: #ffc107;
  text-shadow: 2px 2px #b71c1c;
}

.screen {
  color: #00ff00;
  font-family: 'Consolas', 'Courier New', monospace;
}

.page {
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
}

table, tr, td {
  border: 1px solid;
  border-collapse: collapse;
  border-color: #00ff00;
  margin: 16px auto;
}